SECRET_KEY='best-key-ever'
DEBUG=True
USE_DIGITALOCEAN_SPACES=False

ALLOWED_HOSTS=

DATABASE_DEVELOPMENT=True
DATABASE_TYPE=postgresql_psycopg2
DATABASE_NAME=myproject
DATABASE_USER=myprojectuser
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
DATABASE_PORT=

OSU_API_KEY=

S3_COLLECTION_BUCKET_NAME=myproject
S3_COLLECTION_REGION_NAME=us-east-1
S3_COLLECTION_ENDPOINT_URL=http://localhost:9000
S3_COLLECTION_ACCESS_KEY_ID=<access-key-here>
S3_COLLECTION_SECRET_ACCESS_KEY=<secret-access-key-here>
# Note : Don't put a trailing slash here
S3_COLLECTION_URL=http://localhost:9000

S3_STATIC_BUCKET_NAME=myproject
S3_STATIC_REGION_NAME=us-east-1
S3_STATIC_ENDPOINT_URL=http://localhost:9000
S3_STATIC_ACCESS_KEY_ID=<access-key-here>
S3_STATIC_SECRET_ACCESS_KEY=<secret-access-key-here>
# Note : Don't put a trailing slash here
S3_STATIC_URL=http://localhost:9000