.main-container {
    padding-top: 5.5rem;
    padding-bottom: 1.5rem;
}

.statistic-container {
    background: var(--chisato-background-darker);
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 1rem;
}

.beatmapset-row {
    background: linear-gradient(0deg, rgba(var(--chisato-background-darker-rgb), 0.8), rgba(var(--chisato-background-darker-rgb), 0.8));
    border: 1px solid var(--chisato-border);
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 0!important;
    margin-right: 0!important;
}

@media (max-width: 1009px) {
    #profile-pic {
        flex: 0 0 auto;
        width: 25%;
    }

    #profile-detail {
        flex: 0 0 auto;
        width: 75%;
    }

    #profie-container {
        margin-top: -120px;
    }

    #recommend-beatmap-link {
        width: 100%!important;
    }
}