.main-container {
    padding-top: 5.5rem;
    padding-bottom: 1.5rem;
}

.statistic-container {
    background: var(--chisato-background-darker);
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 1rem;
}