{% extends "base_apps.html" %}
{% load convert_json %}

{% block title %}{{ collection.name }} by {{ collection.owner.username }}{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{{ collection.name }}</h1>
    <h3>
        by {{ collection.owner.username }}
        {% if collection.default_collection %}
            <span class="badge rounded-pill" style="background-color: var(--chisato-background-darker);">Default</span>
        {% endif %}
        {% if collection.private %}
            <span class="badge rounded-pill" style="background-color: var(--chisato-background-darker);">Private</span>
        {% endif %}
    </h3>
    <p>{{ collection.description }}</p>
    <p></p>
    {% if collection.owner == user %}
    <a href="{% url 'collections_edit' collection.id %}" class="btn btn-primary"><i class="mdi mdi-pencil" aria-hidden="true" style="font-size: 20px"></i> Edit</a>
    {% endif %}
    <p></p>
    <p>{{ showing_string }}</p>
    {% for beatmapset in beatmapsets|convert_json %}
    {% include 'collection/snippets/beatmapset_row.html' %}
    {% endfor %}
    <div style="text-align:center">
        <p>Page {{ page_number }} of {{ total_page }}</p>
        {% if total_page > 1 %}
            <div class="d-flex justify-content-center">
                <a href="{% url 'collections_detail' collection.id %}?page={{ page_number|add:'-1' }}" class="btn btn-primary {% if page_number == 1 %}disabled{% endif %}"><i class="mdi mdi-arrow-left" aria-hidden="true" style="font-size: 20px"></i></a>
                <select class="form-select" aria-label="Page Select" id="page-select" style="max-width: 100px; margin: 0 0.5rem;">
                    {% for i in page_list %}
                        <option value="{{ i }}" {% if i == page_number %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <a href="{% url 'collections_detail' collection.id %}?page={{ page_number|add:'1' }}" class="btn btn-primary {% if page_number == total_page %}disabled{% endif %}"><i class="mdi mdi-arrow-right" aria-hidden="true" style="font-size: 20px"></i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    page_select = document.getElementById("page-select");
    page_select.addEventListener("change", function() {
        window.location.href = "{% url 'collections_detail' collection.id %}?page=" + page_select.value;
    });
</script>
{% endblock %}