{% extends "base_apps.html" %}
{% load crispy_forms_tags %}

{% block title %}Settings{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Settings</h1>
    <p></p>
    <h2>Theme</h2>
    <form method="POST">
        {% csrf_token %}
        {{ settings_form | crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <h2>Account Connection</h2>
    <p>You can connect Chisato account with your osu! account to login with your osu! account.</p>
    {% if social_account %}
        <p style="color:#ff66aa"><i class="mdi mdi-check" style="color:#ffb3d4"></i> This account is connected to your osu! account with username : {{ osu_username }}</p>
    {% else %}
        <a title="osu!" class="btn btn-osu socialaccount_provider osu text-decoration-none text-center" href="/accounts/osu/login/?process=connect">Connect to osu! account</a>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        // get valur from id_theme select
        let id_theme = document.getElementById("id_theme");
        let theme = id_theme.value;

        // Add listener to add class to root
        id_theme.addEventListener("change", function() {
            theme = id_theme.value;
            // clean class to blank
            document.documentElement.className = "";
            // add class to root
            document.documentElement.classList.add(theme);
        });
    </script>
{% endblock %}